body {
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

.ui-widget, .ui-widget .ui-widget, table {
    font-size: 10pt ;
}

.feedbackFormular{
    vertical-align: top;
}
form .individualMenu{
    width: 99%;
    padding: 0;
    margin: 0;
}