<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form>
        <p:poll interval="5" update="contributions" immediate="true" />
        <p:focus for="content"/>
        <p:messages/>
        <p:fieldset legend="Contributions">
            <h:panelGroup id="contributions">
                <ul>
                    <ui:repeat value="#{contributionsBean.contributions}" var="contribution">
                        <li style="list-style: none">
                            [#{contribution.creationTimestamp}] <strong>#{contribution.owner.email}</strong>: #{contribution.content}
                        </li>
                    </ui:repeat>
                </ul>
            </h:panelGroup>
            <p:separator/>
            <p:panelGrid columns="3">
                <p:outputLabel for="content" value="Text:"/>
                <p:inputText id="content" value="#{contributionsBean.content}" size="50" required="true"/>
                <p:commandButton value="Send" action="#{contributionsBean.create}" update="@form" onclick="window.scrollTo(0, document.body.scrollHeight);"/>
            </p:panelGrid>
        </p:fieldset>
    </h:form>
</ui:composition>
