<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="members">
        <p:messages showDetail="true"/>
        <p:dataTable value="#{topicMemberBean.members}" var="user"
                     rowKey="#{user.id}" selection="#{topicMemberBean.selectedMembers}" selectionMode="multiple">

            <p:ajax event="rowSelect" update="@form" />
            <p:ajax event="rowUnselect" update="@form" />

            <f:facet name="header">Project Leader</f:facet>

            <p:column>
                <f:facet name="header">Firstname</f:facet>
                <h:outputText value="#{user.firstName}"/>
            </p:column>

            <p:column>
                <f:facet name="header">Lastname</f:facet>
                <h:outputText value="#{user.lastName}"/>
            </p:column>

            <p:column>
                <f:facet name="header">Email</f:facet>
                <h:outputText value="#{user.email}"/>
            </p:column>

            <f:facet name="footer">
                <div style="text-align: left">
                    <p:commandButton value="New"
                                     onclick="PF('addMemberDialog').show();"
                                     icon="ui-icon-plus" />
                    <p:commandButton value="Remove"
                                     action="#{topicMemberBean.remove}"
                                     disabled="#{empty topicMemberBean.selectedMembers}"
                                     update="@form,:addMemberDialog"
                                     icon="ui-icon-trash" />
                </div>
            </f:facet>

        </p:dataTable>
    </h:form>
</ui:composition>
