<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form>
        <p:messages/>
        <p:panelGrid columns="2">
            <f:facet name="header">Topic #{topicBean.topic.id}</f:facet>
            <p:outputLabel for="id" value="ID:"/>
            <h:outputText id="id" value="#{topicBean.topic.id}"/>
            <p:outputLabel for="title" value="Title:"/>
            <p:inputText id="title" value="#{topicBean.topic.title}" required="true"/>
            <p:outputLabel for="state" value="State:"/>
            <p:selectBooleanButton id="state" value="#{topicBean.topic.closed}" onLabel="Closed" offLabel="Open" onIcon="ui-icon-close" offIcon="ui-icon-check"/>
            <p:outputLabel for="owner" value="Owner:"/>
            <h:outputText id="owner" value="#{topicBean.topic.owner.email} [#{topicBean.topic.owner.id}]"/>
            <p:outputLabel for="project" value="Project:"/>
            <h:outputText id="project" value="#{topicBean.topic.project.title} [#{topicBean.topic.project.id}]"/>
            <p:outputLabel for="time" value="Timestamp:"/>
            <h:outputText id="time" value="#{topicBean.topic.creationTimestamp}"/>
            <f:facet name="footer">
                <p:commandButton value="OK" icon="ui-icon-disk" action="#{topicBean.save}" update="@form"/>
                <p:commandButton value="Cancel" icon="ui-icon-cancel" onclick="history.go(-1);"/>
            </f:facet>
        </p:panelGrid>
    </h:form>
</ui:composition>
