<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./basic.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="basic">
        <h:panelGroup rendered="#{loginBean.loggedIn}">
            <ui:insert name="login"></ui:insert>
        </h:panelGroup>
        <h:panelGroup rendered="#{!loginBean.loggedIn}">
            You are not logged in
            <br/>
            <br/>
            <br/>
            <h:link outcome="/index" value="Login"></h:link>
        </h:panelGroup>
    </ui:define>

</ui:composition>
