<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./basic.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="basic">
        <ui:insert name="logout"></ui:insert>
    </ui:define>

</ui:composition>
