<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./login.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="login">
        <ui:insert name="dialog"/>
        <p:layout id="layout" fullPage="true" >
            <p:layoutUnit position="west" size="200" header="Navigation" collapsible="true" >
                <h:form id="navigation">
                    <p:menu styleClass="individualMenu" >
                        <p:menuitem value="Projects" outcome="projects"/>
                        <p:menuitem value="Topics" outcome="topics"/>
                        <p:menuitem value="Feedback" outcome="feedback"/>
                        <p:menuitem value="Logout" action="#{loginBean.logout()}"/>
                    </p:menu>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit position="center" header="Content" footer="Logged as #{loginBean.loggedUser.email} [#{loginBean.loggedUser.id}]">
                <h:panelGroup rendered="#{hidden}">
                    #{hiddenMessage}
                </h:panelGroup>
                <h:panelGroup rendered="#{!hidden}">
                    <ui:insert name="breadcrumb"/>
                    <ui:insert name="content"/>
                </h:panelGroup>
            </p:layoutUnit>
        </p:layout>
    </ui:define>
</ui:composition>
