<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="addLeaderDialog" header="Add Project Leader" modal="true">
        <h:form id="addLeaderDialog">
            <p:dataTable value="#{newProjectLeaderBean.leaders}" var="user"
                         rowKey="#{user.id}" selection="#{newProjectLeaderBean.selectedLeaders}" selectionMode="multiple">

                <p:ajax event="rowSelect" update="@form"/>
                <p:ajax event="rowUnselect" update="@form"/>

                <p:column>
                    <f:facet name="header">Firstname</f:facet>
                    <h:outputText value="#{user.firstName}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Lastname</f:facet>
                    <h:outputText value="#{user.lastName}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Email</f:facet>
                    <h:outputText value="#{user.email}"/>
                </p:column>

                <f:facet name="footer">
                    <div style="text-align: left;">
                        <p:commandButton value="Add"
                                         action="#{newProjectLeaderBean.add}"
                                         disabled="#{empty newProjectLeaderBean.selectedLeaders}"
                                         oncomplete="PF('addLeaderDialog').hide();"
                                         update="@form,:view:leaders"
                                         icon="ui-icon-plus"/>
                        <p:commandButton value="Cancel"
                                         onclick="PF('addLeaderDialog').hide();"
                                         icon="ui-icon-cancel"/>
                    </div>
                </f:facet>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>
