<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form>
        <p:messages showDetail="true"/>
        <p:panelGrid columns="2">

            <f:facet name="header">Project #{projectBean.project.id}</f:facet>

            <p:outputLabel for="id" value="ID:"/>
            <h:outputText id="id" value="#{projectBean.project.id}"/>

            <p:outputLabel for="title" value="Title:"/>
            <p:inputText id="title" value="#{projectBean.project.title}" required="true"/>

            <p:outputLabel for="state" value="State:"/>
            <p:selectBooleanButton id="state"
                                   value="#{projectBean.project.closed}"
                                   onLabel="Closed" offLabel="Open"
                                   onIcon="ui-icon-close" offIcon="ui-icon-check"/>

            <p:outputLabel for="owner" value="Owner:"/>
            <h:outputText id="owner" value="#{projectBean.project.owner.email}"/>

            <p:outputLabel for="time" value="Created:"/>
            <h:outputText id="time" value="#{projectBean.project.creationTimestamp}"/>

            <f:facet name="footer">
                <p:commandButton value="OK"
                                 action="#{projectBean.save}"
                                 update="@form"
                                 icon="ui-icon-disk" />
                <p:button value="Cancel"
                          outcome="projects" />
            </f:facet>

        </p:panelGrid>
    </h:form>
</ui:composition>
