<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="topics">
        <p:messages showDetail="true"/>
        <p:dataTable value="#{topicsBean.topics}" var="topic"
                     rowKey="#{topic.id}" selection="#{topicsBean.selectedTopics}" selectionMode="multiple">

            <p:ajax event="rowSelect" update="@form" />
            <p:ajax event="rowUnselect" update="@form" />

            <f:facet name="header">Topics</f:facet>

            <p:column>
                <f:facet name="header">Title</f:facet>
                <h:outputText value="#{topic.title}"/>
            </p:column>

            <p:column>
                <f:facet name="header">State</f:facet>
                <h:outputText value="#{topic.closed?'closed':'open'}"/>
            </p:column>

            <p:column>
                <f:facet name="header">Owner</f:facet>
                <h:outputText value="#{topic.owner.email}"/>
            </p:column>

            <p:column>
                <f:facet name="header">Project</f:facet>
                <h:outputText value="#{topic.project.title}"/>
            </p:column>

            <f:facet name="footer">
                <div style="text-align: left">
                    <p:commandButton value="New"
                                     onclick="PF('newTopicDialog').show();"
                                     icon="ui-icon-plus" />

                    <p:commandButton value="Edit"
                                     action="#{topicsBean.edit}"
                                     disabled="#{empty topicsBean.selectedTopics}"
                                     update="@form"
                                     icon="ui-icon-folder-open" />

                    <p:commandButton value="Remove"
                                     action="#{topicsBean.remove}"
                                     disabled="#{empty topicsBean.selectedTopics}"
                                     update="@form"
                                     icon="ui-icon-trash" />
                </div>
            </f:facet>

        </p:dataTable>
    </h:form>
</ui:composition>
