<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="newTopicDialog" header="New Topic" modal="true">
        <h:form>
            <p:panelGrid columns="2">
                <p:outputLabel for="title" value="Topic Title:"/>
                <p:inputText id="title" value="#{newProjectTopicBean.title}" required="true"/>
                <f:facet name="footer">
                    <div style="text-align: left">
                        <p:commandButton value="OK"
                                         action="#{newProjectTopicBean.create}"
                                         update="@form,:view:topics"
                                         oncomplete="PF('newTopicDialog').hide();"/>
                        <p:commandButton value="Cancel"
                                         onclick="PF('newTopicDialog').hide();"
                                         icon="ui-icon-cancel" />
                    </div>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>
