<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./resources/templates/basic.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="basic">
        <f:metadata>
            <f:viewParam name="key" value="#{acctounVerificationBean.verificationKey}"/>
            <f:event type="preRenderView" listener="#{acctounVerificationBean.validateKey()}"/>
        </f:metadata>
        <p:messages autoUpdate="true" showDetail="true"/>
    </ui:define>
</ui:composition>
