<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./resources/templates/navigation.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form>
            <p:breadCrumb>
                <p:menuitem value="Home" outcome="index" />
                <p:menuitem value="Feedback" outcome="feedback" />
            </p:breadCrumb>
        </h:form>
        <p>
            Send us your feedback.
        </p>
        <h:form>
            <p:messages id="messages" showDetail="false" />
            <p:panelGrid id="grid" columns="2" columnClasses="feedbackFormular">
                <f:facet name="header">
                    Feedback Dialog
                </f:facet>
                <p:outputLabel for="rating" value="Rating:" />
                <p:rating id="rating" value="#{feedbackBean.rating}" required="true" />
                <p:outputLabel for="message" value="Your Message:" />
                <p:inputTextarea id="message" cols="60" rows="10" required="true" value="#{feedbackBean.message}" />
                <f:facet name="footer">
                    <p:commandButton value="Submit" action="#{feedbackBean.submit}" update="grid,messages"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>
