<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./resources/templates/logout.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="logout">
        <p:tabView id="view">
            <p:tab id="tab" title="Login">
                <h:form>
                    <p:messages id="messages" showDetail="true" />
                    <p:panelGrid id="grid" columns="3">
                        <f:facet name="header">Login</f:facet>
                        <p:outputLabel for="email" value="Email:" />
                        <p:inputText id="email" value="#{loginBean.email}" required="true" />
                        <p:message for="email"/>

                        <p:outputLabel for="password" value="Password:" />
                        <p:password id="password" value="#{loginBean.password}" required="true" />
                        <p:message for="password"/>

                        <f:facet name="footer">
                            <p:commandButton id="loginButton" value="Submit" action="#{loginBean.login}" update="grid,messages" />
                        </f:facet>
                    </p:panelGrid>
                </h:form>
            </p:tab>
            <p:tab title="Registration">
                <h:form>
                    <p:messages showDetail="true"/>
                    <p:panelGrid id="grid" columns="3">
                        <f:facet name="header">
                            Registration
                        </f:facet>
                        <p:outputLabel for="prename" value="Prename:" />
                        <p:inputText id="prename" value="#{registrationBean.prename}" label="prename" required="true" />
                        <p:message for="prename" />
                        <p:outputLabel for="surname" value="Surname:" />
                        <p:inputText id="surname" value="#{registrationBean.surname}" required="true" />
                        <p:message for="surname"/>
                        <p:outputLabel for="email" value="Email:" />
                        <p:inputText id="email" value="#{registrationBean.email}" required="true" />
                        <p:message for="email"/>
                        <p:outputLabel for="password" value="Password:" />
                        <p:password id="password" value="#{registrationBean.password}" feedback="true" required="true" />
                        <p:message for="password"/>
                        <p:outputLabel for="conditions" value="Accept Conditions:" />
                        <p:selectBooleanButton id="conditions" value="#{registrationBean.conditions}" onLabel="Yes" offLabel="No" required="true"/>
                        <p:message for="conditions"/>
                        <f:facet name="footer">
                            <p:commandButton value="Submit" action="#{registrationBean.action}" update="@form"/>
                        </f:facet>
                    </p:panelGrid>
                </h:form>
            </p:tab>
            <p:tab title="Request Password">
                <h:form>
                    <p:messages showDetail="true"/>
                    <p:panelGrid id="grid" columns="3">
                        <f:facet name="header">
                            Request password
                        </f:facet>
                        <p:outputLabel for="email" value="Email:" />
                        <p:inputText id="email" value="#{requestPasswordBean.email}" required="true" />
                        <p:message for="email"/>
                        <f:facet name="footer">
                            <p:commandButton value="Submit" action="#{requestPasswordBean.action}" update="@form"/>
                        </f:facet>
                    </p:panelGrid>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>

</ui:composition>
