<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./resources/templates/basic.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="basic">
        <f:metadata>
            <f:viewParam name="key" value="#{newPasswordBean.verificationKey}"/>
            <f:event type="preRenderView" listener="#{newPasswordBean.validateKey()}"/>
        </f:metadata>

        <p:messages autoUpdate="true" showDetail="true"/>
        <h:form>
            <p:panelGrid id="grid" columns="3" rendered="#{newPasswordBean.keyValid}">
                <f:facet name="header">
                    Enter new password
                </f:facet>
                <p:outputLabel for="password" value="New Password:" />
                <p:password id="password" value="#{newPasswordBean.password}" match="confirmationPassword" feedback="true" required="true" />
                <p:message for="password"/>
                <p:outputLabel for="confirmationPassword" value="Confirm Password:" />
                <p:password id="confirmationPassword" value="#{newPasswordBean.confirmationPassword}" feedback="true" required="true" />
                <p:message for="confirmationPassword"/>
                <f:facet name="footer">
                    <p:commandButton value="Submit" action="#{newPasswordBean.action}" update="grid" />
                </f:facet>
            </p:panelGrid>
        </h:form>
    </ui:define>


</ui:composition>
