<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/navigation.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="breadcrumb">
        <h:form>
            <p:breadCrumb>
                <p:menuitem value="Home" outcome="index" />
                <p:menuitem value="Projects" outcome="projects" />
            </p:breadCrumb>
        </h:form>
    </ui:define>

    <ui:define name="dialog">
        <p:dialog widgetVar="newProjectDialog" header="New Project" modal="true">
            <h:form>
                <p:panelGrid columns="2">
                    <p:outputLabel for="title" value="Project Title:"/>
                    <p:inputText id="title" value="#{newProjectBean.title}" required="true"/>
                    <f:facet name="footer">
                        <p:commandButton value="OK" action="#{newProjectBean.create()}" update="@form,:form" oncomplete="PF('newProjectDialog').hide();"/>
                        <p:button value="Cancel" onclick="PF('newProjectDialog').hide();"/>
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
            <p:messages showDetail="true"/>
            <p:dataTable value="#{projectsBean.projects}" var="project"
                         rowKey="#{project.id}" selection="#{projectsBean.selectedProjects}" selectionMode="multiple">

                <p:ajax event="rowSelect" update="@form" />
                <p:ajax event="rowUnselect" update="@form" />

                <f:facet name="header">Projects</f:facet>
                <p:column>
                    <f:facet name="header">Title</f:facet>
                    <h:outputText value="#{project.title}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">State</f:facet>
                    <h:outputText value="#{project.closed?'closed':'open'}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">Owner</f:facet>
                    <h:outputText value="#{project.owner.email}"/>
                </p:column>
                <f:facet id="footer" name="footer">
                    <div style="text-align: left">
                        <p:commandButton value="New"
                                         onclick="PF('newProjectDialog').show();"
                                         icon="ui-icon-plus"/>
                        <p:commandButton value="Edit"
                                         action="#{projectsBean.edit}"
                                         disabled="#{empty projectsBean.selectedProjects}"
                                         update="@form"
                                         icon="ui-icon-folder-open"/>
                        <p:commandButton value="Remove"
                                         action="#{projectsBean.remove}"
                                         disabled="#{empty projectsBean.selectedProjects}"
                                         update="@form"
                                         icon="ui-icon-trash"/>
                    </div>
                </f:facet>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
