<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/navigation.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <f:metadata>
        <f:viewParam name="id" value="#{projectBean.projectId}"/>
        <f:event type="preRenderView" listener="#{projectBean.preRenderView}"/>
    </f:metadata>
    <ui:param name="hidden" value="#{projectBean.hidden}"/>
    <ui:param name="hiddenMessage" value="No Project found"/>

    <ui:define name="dialog">
        <ui:include src="project/leadersDialog.xhtml"/>
        <ui:include src="project/membersDialog.xhtml"/>
        <ui:include src="project/topicsDialog.xhtml"/>
    </ui:define>

    <ui:define name="breadcrumb">
        <h:form>
            <p:breadCrumb>
                <p:menuitem value="Home" outcome="index" />
                <p:menuitem value="Projects" outcome="projects" />
                <p:menuitem value='Project "#{projectBean.project.title}"' outcome="project">
                    <f:param name="id" value="#{projectBean.project.id}"/>
                </p:menuitem>
            </p:breadCrumb>
        </h:form>
    </ui:define>

    <ui:define name="content">
        <p:tabView id="view">
            <p:tab title="Project">
                <ui:include src="project/project.xhtml"/>
            </p:tab>
            <p:tab title="Topics">
                <ui:include src="project/topics.xhtml"/>
            </p:tab>
            <p:tab title="Leaders">
                <ui:include src="project/leaders.xhtml"/>
            </p:tab>
            <p:tab title="Members">
                <ui:include src="project/members.xhtml"/>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>
