<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/navigation.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="breadcrumb">
        <h:form>
            <p:breadCrumb>
                <p:menuitem value="Home" outcome="index" />
                <p:menuitem value="Topics" outcome="topics" />
            </p:breadCrumb>
        </h:form>
    </ui:define>

    <ui:define name="dialog">
        <p:dialog widgetVar="newTopicDialog" header="New Topic" modal="true">
            <h:form>
                <p:panelGrid columns="2">
                    <p:outputLabel for="title" value="Topic Title:"/>
                    <p:inputText id="title" value="#{newTopicBean.title}" required="true"/>
                    <p:outputLabel for="project" value="Parent Project:"/>
                    <p:selectOneMenu id="project" value="#{newTopicBean.projectId}" effect="fade">
                        <f:selectItems value="#{newTopicBean.projects}" var="project" itemLabel="#{project.title}" itemValue="#{project.id}"/>
                    </p:selectOneMenu>
                    <f:facet name="footer">
                        <p:commandButton value="OK" action="#{newTopicBean.create}" update="@form,:form" oncomplete="PF('newTopicDialog').hide();"/>
                        <p:commandButton value="Cancel" onclick="PF('newTopicDialog').hide();"/>
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
            <p:messages showDetail="true"/>
            <p:dataTable value="#{topicsBean.allTopics}" var="topic"
                         rowKey="#{topic.id}" selection="#{topicsBean.selectedTopics}" selectionMode="multiple">

                <p:ajax event="rowSelect" update="@form" />
                <p:ajax event="rowUnselect" update="@form" />

                <f:facet name="header">Topics</f:facet>

                <p:column>
                    <f:facet name="header">Title</f:facet>
                    <h:outputText value="#{topic.title}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">State</f:facet>
                    <h:outputText value="#{topic.closed?'closed':'open'}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Owner</f:facet>
                    <h:outputText value="#{topic.owner.email}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">Project</f:facet>
                    <h:outputText value="#{topic.project.title}"/>
                </p:column>

                <f:facet name="footer">
                    <div style="text-align: left">
                        <p:commandButton icon="ui-icon-plus" value="New" onclick="PF('newTopicDialog').show();"/>
                        <p:commandButton value="Edit"
                                         action="#{topicsBean.edit}"
                                         disabled="#{empty topicsBean.selectedTopics}"
                                         update="@form"
                                         icon="ui-icon-folder-open"/>
                        <p:commandButton value="Remove"
                                         action="#{topicsBean.remove}"
                                         disabled="#{empty topicsBean.selectedTopics}"
                                         update="@form"
                                         icon="ui-icon-trash"/>
                    </div>
                </f:facet>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
