<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/templates/navigation.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <f:metadata>
        <f:viewParam name="id" value="#{topicBean.topicId}"/>
        <f:event type="preRenderView" listener="#{topicBean.preRenderView}"/>
    </f:metadata>
    <ui:param name="hidden" value="#{topicBean.hidden}"/>
    <ui:param name="hiddenMessage" value="No Topic found"/>

    <ui:define name="dialog">
        <ui:include src="topic/leadersDialog.xhtml"/>
        <ui:include src="topic/membersDialog.xhtml"/>
    </ui:define>

    <ui:define name="breadcrumb">
        <h:form>
            <p:breadCrumb>
                <p:menuitem value="Home" outcome="index" />
                <p:menuitem value="Projects" outcome="projects" />
                <p:menuitem value='Project "#{topicBean.topic.project.title}"' outcome="project">
                    <f:param name="id" value="#{topicBean.topic.project.id}"/>
                </p:menuitem>
                <p:menuitem value='Topic "#{topicBean.topic.title}"' outcome="topic">
                    <f:param name="id" value="#{topicBean.topic.id}"/>
                </p:menuitem>
            </p:breadCrumb>
        </h:form>
    </ui:define>

    <ui:define name="content">
        <p:tabView id="view">
            <p:tab title="Topic">
                <ui:include src="topic/topic.xhtml"/>
            </p:tab>
            <p:tab title="Contributions">
                <ui:include src="topic/contributions.xhtml"/>
            </p:tab>
            <p:tab title="Leaders">
                <ui:include src="topic/leaders.xhtml"/>
            </p:tab>
            <p:tab title="Members">
                <ui:include src="topic/members.xhtml"/>
            </p:tab>
        </p:tabView>
    </ui:define>

</ui:composition>
